{% extends "index.html" %}
{% block body %}
<script type="text/javascript">
var intervalID = setInterval(update_values,2000);

  function update_values() {
        $.getJSON($SCRIPT_ROOT + '/model_predict',
               
      function(data) {
        $('#result').text(data.result);
        console.log(data)
        window.alert(result)
      });
      
    };
   
    
    
    function stopTextColor() {
      clearInterval(intervalID);
    }

</script>
<body onload="update_values();">
<h1>SEISMIC CLASSIFICATION</h1>
<p>
    <span id="result">result</span>
<script>
document.getElementById("result").innerHTML = result;
</script>

	<button onclick="stopTextColor();">Stop</button>
	</body>
{% endblock %}